/.cloud/*
/.shopping_list.json
/.storage/*
/.uuid
/custom_components/*
/home-assistant.log
/home-assistant_v2.db
/home-assistant_v2.db-*
/known_devices.yaml
/secrets.yaml
/_scripts/dvr-slack.err
/_scripts/dvr-slack.log